{%extends 'encabezado.html' %}
{% block title %} contacto {% endblock%}
{% block containt %}

    <h2 class="contacto"> Esta es la zona de contacto</h2>
    <body class= "caja"> 
        <div class="contenedor1">
          <!-- Cuadro 1 (Arriba a la izquierda) -->
          <div class="cuadros">
            <h2 class= "titulo">NUMERO TELEFONICO</h2>
            <p class= "texto">Para contactar con nosotros: 934-260-76-16.</p>
          </div>
      
          <!-- Cuadro 2 (Arriba a la derecha) -->
          <div class="cuadros">
            <h2 class= "titulo">CORREO ELECTRONICO</h2>
            <p class= "texto">nuestro correo Electronico es: programacionweb@gmail.com</p>
          </div>
        </div>
      </body>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85932.98582909541!2d-91.53257557919609!3d17.85094508491145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f3c2bd64971569%3A0x237ff6dacda499f4!2sInstituto%20Tecnol%C3%B3gico%20Superior%20de%20los%20R%C3%ADos!5e0!3m2!1ses-419!2smx!4v1742081432415!5m2!1ses-419!2smx"class="mapa"> 
</iframe>
{% endblock %}