{% extends 'encabezado.html'  %}
{% block title %} Inicio {% endblock %}
{% block containt %}
    <h2>Esta es la zona principal</h2>
    <div class="box1">
        <h2 class="info">INFORMACION SOBRE NOSOTROS</h2>
        <p class="tec">El Instituto Tecnológico Superior de los Ríos, es una institución de educación superior, que tiene como misión formar profesionales competentes, con valores éticos y morales, que contribuyan al desarrollo sostenible de la región y del país, a través de la generación, aplicación y transferencia de conocimientos científicos y tecnológicos, en un marco de equidad y respeto a la diversidad cultural.</p>
    </div>
    <div class="nombre">
        <h2 class="nombre">Luis Alberto Guillermo Cordova</h2>
    </div>   
{% endblock %}
