{% extends 'encabezado.html' %}
{% block title %} servicios {% endblock%}
{% block containt %}
<h2>Esta es la zona de servicios</h2>
<p class="servicios">En esta seccion se ofrecen los siguientes servicios:</p>
<section>
    <div>
        <li class="lis">Desarrollo de aplicaciones web</li>
        <li class="lis">Desarrollo de aplicaciones moviles</li>
        <li class="lis">Desarrollo de software a la medida</li>
        <li class="lis">Desarrollo de software empresarial</li>
    </div>
</section>
<p class="servicios">Beneficios de contratar a un programador web:</p>
<body class= "caja"> 
    <div class="contenedor1">
      <!-- Cuadro 1 (Arriba a la izquierda) -->
      <div class="cuadros">
        <h2 class= "titulo">PERSONALIZACION</h2>
        <p class= "texto">Soluciones adaptadas a las necesidades específicas de tu negocio.</p>
      </div>
  
      <!-- Cuadro 2 (Arriba a la derecha) -->
      <div class="cuadros">
        <h2 class= "titulo">TECNOLOGIA MODERNA</h2>
        <p class= "texto">Uso de las últimas herramientas y frameworks para garantizar un rendimiento óptimo.</p>
      </div>
  
      <!-- Cuadro 3 (Abajo a la izquierda) -->
      <div class="cuadros">
        <h2 class= "titulo">ESCALABILIDAD</h2>
        <p class= "texto">Sitios web y aplicaciones diseñados para crecer junto con tu negocio.</p>
      </div>
  
      <!-- Cuadro 4 (Abajo a la derecha) -->
      <div class="cuadros">
        <h2 class= "titulo">SOPORTE CONTINUO</h2>
        <p class= "texto">Asistencia técnica y mantenimiento para resolver problemas rápidamente.</p>
      </div>
    </div>
  </body>
{% endblock %}



  

    
